.contacttable > p{
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    margin: 2.5% auto;
}

table{
    clear: both;
    width: 90%;
    margin: 0 auto 5%;
    border: 2px solid black;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 20px;
    border-collapse: collapse;
}
td , th{
    overflow: auto;
    height: 1.5em;
    padding: 1%;
    border: 2px solid black;
    text-align: center;
    
}
th{
    font-size: large;
    color: white;
    background-color: rgb(121, 45, 129);
}
tr:hover{
    background-color: #FAE6FA;
}